{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}
	<form action="login" method="post">
		{% csrf_token %}
		
		{% if error %}
			<p class="error">{{ error }}</p>
		{% endif %}
		
		<!--  <p>
			<label for="email">Courriel :</label>
			<input name="email" id="email" size="30" type="email" />
		</p>
		<p>
			<label for="password">Mot de passe :</label>
			<input name="password" id="password" size="30" type="password" />
		</p>-->
		
		{{ form.as_p }}
		<p>
			<input type="submit" value="Se connecter" />
			<a href="register">Créer un compte</a>
		</p>
	</form>
{% endblock %}